# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
dcc

# Cloud 9
**/.c9/**

# Jumadinova files
**/cs420f2014/**

# Compiled LEX
lex.yy.c